[django]
debug           = True
secret          = xxxxxxxx
allowed_hosts   = *
language_code   = en-us
time_zone       = America/Los_Angeles
static_root     = /var/www/html/static
media_root      = /data/smwc-web/media
sqlite_db       = db.sqlite3

[logging]
app_level       = DEBUG
app_handler     = console
django_level    = INFO
django_handler  = console
log_file        = django.log

[database]
name            = database
user            = database
pass            = xxxxxxxx
host            = mysql
port            = 3306

[statsd]
metric_host     = graphite.cssnr.com
metric_port     = 8125
metric_prefix   = smwcweb.dev
metric_client   = django_statsd.clients.toolbar

[oauth]
client_id      = xxx
client_secret  = xxx
redirect_uri   = http://localhost/oauth/callback/
response_type  = code
grant_type     = authorization_code
scope          = "identify webhook.incoming"

[discord]
client_id      = xxx
client_secret  = xxx
redirect_uri   = http://localhost/discord/callback/
response_type  = code
grant_type     = authorization_code
scope          = "identify webhook.incoming"
