[django]
debug           = True
secret          = xxxxxxxx
allowed_hosts   = *
language_code   = en-us
time_zone       = America/Los_Angeles
static_root     = /data/unfollows-web/static
media_root      = /data/unfollows-web/media
sqlite_db       = db.sqlite3

[logging]
app_level       = DEBUG
app_handler     = console
django_level    = INFO
django_handler  = console
log_file        = django.log

[database]
name            = database
user            = database
pass            = xxxxxxxx
host            = mysql
port            = 3306

[statsd]
metric_host     = localhot
metric_port     = 8125
metric_prefix   = twitchunfollow.dev
metric_client   = django_statsd.clients.toolbar

[oauth]
client_id      = xxxxxxxx
client_secret  = xxxxxxxx
redirect_uri   = http://localhot/oauth/callback/
response_type  = code
grant_type     = authorization_code
scope          = "user_read"

[discord]
client_id      = xxxxxxxx
client_secret  = xxxxxxxx
redirect_uri   = http://localhot/discord/callback/
response_type  = code
grant_type     = authorization_code
scope          = "identify webhook.incoming"
