[Unit]
Description=smwc-web gunicorn django
After=network.target

[Service]
User=apache
Group=apache
WorkingDirectory=/websites/smwc-web
ExecStart=/websites/smwc-web/venv/bin/gunicorn twitch_unfollow.wsgi:application \
    --workers 4 \
    --bind 127.0.0.1:9000 \
    --log-level info \
    --log-file /var/log/smwc-web/gunicorn.log
ExecReload=/bin/kill -s HUP
ExecStop=/bin/kill -s TERM
PrivateTmp=true

[Install]
WantedBy=multi-user.target
