[Unit]
Description=unfollow-web celery worker
After=network.target

[Service]
User=apache
Group=apache
WorkingDirectory=/websites/unfollows-web
ExecStart=/websites/unfollows-web/venv/bin/celery -A twitch_unfollow worker -l INFO \
    --logfile /var/log/unfollows-web/worker.log \
    --concurrency 2
ExecReload=/bin/kill -s HUP
ExecStop=/bin/kill -s TERM
PrivateTmp=true

[Install]
WantedBy=multi-user.target
