{% extends "main.html" %}
{% block home_active %}active{% endblock %}
{% block title %}Home{% endblock %}
{% load staticfiles %}
{% load home_tags %}

{% block head %}{% endblock %}

{% block body %}
    <div class="row mt-2">
        <div class="col">
            <h1>Twitch Unfollow Alerts</h1>
            {% if not request.user.is_authenticated %}

                <p class="lead">Log in with Twitch to get started.</p>

                <a href="{% url 'oauth:login' %}" class="btn btn-info btn-lg my-2" role="button">Connect with Twitch
                    <i class="fas fa-sign-in-alt"></i></a>

            {% else %}
                <p class="lead">Add unfollow alerts to a private Discord channel.</p>

{#                <p>For more information, to report bugs or get support; join the#}
{#                    <a href="{% url 'home:discord' %}" target="_blank">SMWC.world Discord server</a>.</p>#}

                <a href="{% url 'discord:login' %}" class="btn btn-info btn-lg my-2" role="button">Add Notifications to Discord
                    <i class="fab fa-discord"></i></a>
            {% endif %}
        </div>
    </div>
{% endblock %}
