{% load staticfiles %}
{% load home_tags %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required tags for bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    {% block meta %}
        <meta name="author" content="Shane"/>
        <meta name="title" content="Twitch Unfollow Alerts"/>
        <meta name="description" content="Twitch Unfollow Alerts for Discord."/>

        <meta property="og:author" content="Shane">
        <meta property="og:title" content="Twitch Unfollow Alerts">
        <meta property="og:description" content="Twitch Unfollow Alerts for Discord.">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'home:index' %}">
        <meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'images/logo.png' %}">
        <meta property="og:image:type" content="image/png">
    {% endblock %}

    <title>Twitch Unfollow Alerts - {% block title %}{% endblock %}</title>

    <!-- Media -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/main.css' %}" rel="stylesheet">

    {% block head %}{% endblock %}
</head>
<body>

<!-- Main content -->
<div class="container-fluid">
    {% block heading %}
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-md navbar-light bg-light mt-2">
                    <a class="navbar-brand" href="{% url 'home:index' %}">Unfollow Alerts</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                            aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="main-nav">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item {% block home_active %}{% endblock %}">
                                <a class="nav-link" href="{% url 'home:index' %}">Home</a>
                            </li>
                        </ul>

                        {% if request.user.is_authenticated %}
                            <a href="https://www.twitch.tv/settings/profile" target="_blank" class="text-info mr-3">
                                {{ request.user.username }}</a>
                            {% if user.is_staff %}
                                <a href="{% url 'admin:index' %}" class="btn btn-outline-warning mr-1" role="button">
                                    Admin
                                    <i class="fas fa-rocket"></i></a>
                                <a href="{% url 'flower' %}" class="btn btn-outline-success mr-1" role="button">
                                    Flower
                                    <i class="fas fa-spa"></i></a>
                            {% endif %}
                            <a href="" class="log-out btn btn-outline-info" role="button">
                                Log Out
                                <i class="fas fa-sign-out-alt"></i></a>
                        {% endif %}
                    </div>
                </nav>
            </div>
        </div>
    {% endblock %}

    {% block messages %}
        <div class="row">
            <div class="col">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.extra_tags }} alert-dismissible my-1" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            {{ message.message|safe }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endblock %}

    {% block body %}{% endblock %}

    {% block footer %}
        <div class="row">
            <div class="col">
                <hr>
                <p>Report Abuse:
                    {#<script type="text/javascript" src="{% static 'main/js/email-abuse.js' %}"></script>#}
                    <a href="https://www.twitch.tv/smashed926" target="_blank">www.twitch.tv/smashed926</a>
                </p>
            </div>
        </div>
    {% endblock %}
</div>

{% if request.user.is_authenticated %}
    <form id="log-out" action="{% url 'oauth:logout' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.get_full_path }}">
    </form>
{% endif %}

<!-- JS imported at end to improve page loads -->
<script type="text/javascript" src="{% static 'bootstrap/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/main.js' %}"></script>

{% block tail %}{% endblock %}

</body>
</html>
